/*
 * ROOT ELEMENT
 *
 * I think it's never helpful to show this in content types. Just
 * duplicate information.
 *
 */
.order-item[class*="item-wrapper-"] .jsoneditor-container > h3:first-of-type {
  display: none;
}

.order-item[class*="item-wrapper-"] .jsoneditor-container > .indented-panel {
  border: none;
  margin: 0 !important;
}

/*
 * DJANGO/FEINCMS-LIKE STYLING
 *
 */
.jsoneditor-container {
  clear: both;
}

.jsoneditor-container h3 {
  padding: 0.5rem !important;
  margin-top: -1px !important;
  position: relative;
  font-size: 13px !important;
  font-weight: normal !important;
}

.jsoneditor-container label {
  clear: both;
}

.jsoneditor-container .form-control {
  margin: 0.25rem 0;
}

.jsoneditor-container .button {
  border: none;
  margin: 0 0.3rem 0.3rem 0.3rem;
  padding: 5px 10px;
}

.jsoneditor-container textarea {
  height: 100px;
}

.jsoneditor-container .indented-panel {
  margin: 10px;
}

.jsoneditor-container .child-editor-holder {
  border: 1px solid #eee;
}

.jsoneditor-container .header-button-holder {
  float: right;
}

.jsoneditor-container .header-button-holder button {
  background: none;
  border: 1px solid #fff;
  padding: 0 0.3rem;
}

.jsoneditor-container .header-button-holder button:hover {
  background: none;
  border: 1px solid #79aec8;
  color: #79aec8;
}

.jsoneditor-container table {
  width: 100%;
}

.jsoneditor-container table input {
  width: 90%;
}

.jsoneditor-container table input.vForeignKeyRawIdAdminField {
  width: 5em;
}

.jsoneditor-container table textarea {
  height: 50px;
}

div[data-schematype="array"] {
  border: 1px solid #eee;
  margin-bottom: 2rem;
}

/*
 * TABS
 *
 */
.jsoneditor-container .tab-holder {
  display: flex;
  align-items: stretch;
  border: 1px solid #eee;
  margin: 10px;
}

.jsoneditor-container .tab-holder > .tabs {
  border-right: 1px solid #eee;
}

.jsoneditor-container .tab-holder > .tabs .tab {
  background: #f6f6f6 !important;
  border: none;
  border-radius: none;
  cursor: pointer;
  padding: 0.5rem;
}

.jsoneditor-container .tab-holder > .tabs .tab.active {
  background: #79aec8 !important;
  color: #fff;
}

.jsoneditor-container .tab-holder > .content {
  flex-grow: 1;
}

.jsoneditor-container .tab-holder > .content > .indented-panel {
  margin: 0;
}
